body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #B5BFC0;
}

h1{
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-feature-settings: 'cpsp' on, 'kern' off;
    color: #FFFFFF;
}